.btn-player {
	margin: 6px 0px;
	/*font-family: monospace;*/
	z-index: 100;
	width: 100%;
}
#mainscreen {
	margin: 0 auto;
}
.set-adress-size {
	height: 98%;
}
#iframe-address {
	height: 92%;
}
.hidden {
	display: none
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
